/*#box{
    background-color: rgb(0, 0,255);
    color: white;
}
.heading{
    color: rgb(255, 0, 0);
    
}
p{
    color: rgb(255, 255, 0);
     font-size: 20px;
}*/
* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: rgb(0, 0, 255);
    color: white;
    width: 300px;
    height: 300px;
    padding: 100px;
    margin: 100px;
    border: 2px solid black;
}

.container2 {
    background-color: rgb(0, 255, 0);
    color: white;
    width: 300px;
    height: 300px;
    padding: 100px;
    margin: 100px;
    border: 2px solid black;
}

.container3 {
    background-color: rgb(255, 0, 0);
    color: white;
    width: 300px;
    height: 300px;
    padding: 100px;
    margin: 100px;
    border: 2px solid black;
}